/*
 * @Author: hemei 
 * @Date: 2017-07-27 14:28:04 
 * @Last Modified by: hemei
 * @Last Modified time: 2017-09-14 15:03:02
 */

@charset "UTF-8";

// 使用动画
// 默认时间是2秒，线性动画效果，循环次数为1.
.animation {
 animation: 2s linear;
}
// 循环次数
.infinite {
  animation-iteration-count: infinite;
}

// 动画类使用
// 弹跳
.a-bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}
// 闪烁
.a-flash {
  animation-name: flash;
}
// 放大
.a-enlarge {
  animation-name: enlarge;
}
// 缩小
.a-shrink {
  animation-name: shrink;
}
// 缩放
.a-scale {
  animation-name: scale;
}
// 左右
.a-shakex {
  animation-name: shakeX;
}
// 上下
.a-shakey {
  animation-name: shakeY;
}
// 摇摆
.a-swing {
  animation-name: swing;
}
// 波动
.a-wave {
  animation-name: wave;
}
// 淡入
.a-fade-in {
  animation-name: fadeIn;
}
// 左边淡入
.a-fade-in-left {
  animation-name: fadeInLeft;
}
// 右边淡入
.a-fade-in-right {
  animation-name: fadeInRight;
}
// 上边淡入
.a-fade-in-top {
  animation-name: fadeInTop;
}
// 下边淡入
.a-fade-in-bottom {
  animation-name: fadeInBottom;
}
// 淡出
.a-fade-out {
  animation-name: fadeOut;
}
// 左边淡出
.a-fade-out-left {
  animation-name: fadeOutLeft;
}
// 右边淡出
.a-fade-out-right {
  animation-name: fadeOutRight;
}
// 上边淡出
.a-fade-out-top {
  animation-name: fadeOutTop;
}
// 下边淡出
.a-fade-out-bottom {
  animation-name: fadeOutBottom;
}
.a-light-speed-in {
  animation-name: lightSpeedIn;
}